.logo img {
    height: auto;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
}
#statuscode{
    max-width: 75px;
    max-width: 75px;
}
.input-group {
    width: 88%; 
}
.progressbar{
    background:white;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    margin: 0 auto;
    width: 75%;
    margin-top: 15px;
    display: none;
}
#result{
    font-size: 15px;
}